body {
    font-family:'Segoe UI';
    font-size:14px;
    background-color:#fcfcfc;
}
.social {
    width:20px;
    height:20px;
}
#profile {
    width:100px;
    height:100px;
    border: 2px dashed #555;
    border-radius:50px;
}